/*--- MEDIA QUERIES ---*/
@media (max-width: 1200px) {
    /* Section: Shop */
    .shop-desc { margin-top: 120px; }
}

@media (max-width: 992px) {
    /*--- HEADER ---*/
    .collapse-menu { display: block; }

    /* Main Navigation */
    .main-nav ul, .account-container  { display: none; }

    /* Hero Text Box */
    .hero-text-box p { font-size: 36px; }

    .hero-text-box p:first-child { font-size: 18px; }

    /*--- Section: Services ---*/
    .services-desc { width: 100%; }

    .services-card--container { justify-content: space-between; }

    /*--- Section: Shop ---*/
    .shop-desc { margin-top: 60px; }

    /*--- Footer ---*/
    .footer-card { width: 30%; }
    
    /* Links */
    .footer-links { padding-left: 40px; }
}

@media (max-width: 768px) {
    /*--- Reusable Styling ---*/
    .long-text { font-size: 20px; }

    /*--- HEADER ---*/
    #mobile-logo { display: block; }

    #main-logo { display: none; }

    /* Hero Text Box */
    .hero-text-box p { font-size: 28px; }

    .hero-text-box p:first-child { font-size: 16px; }

    /*--- HEADINGS ---*/
    h1 { font-size: 24px;}

    /*--- Section: Services ---*/
    .services-card--container { flex-direction: column; }

    .services-card { 
        width: 100%; 
        margin-bottom: 24px;
    }

    /*--- Section: Recent Builds ---*/
    .section-builds figure { width: 50%; }

    /* Section: Shop */
    .shop-flex {
        flex-direction: column;
        align-items: center;
    }

    .shop-img--container { width: 80%; }

    .shop-desc--container { width: 100%; }

    .btn-container { flex-direction: column; }

    .btn { 
        width: 100%;
        margin-top: 18px;
    }
}

@media only screen and (max-width: 660px) {
    .footer-wrapper { flex-direction: column; }

    .footer-card {
        width: 100%;
        margin-bottom: 28px;
    }

    /* Links */
    .footer-links { padding-left: 0; }
}

@media only screen and (max-width: 475px) {
    .bottom-footer p {
        padding: 0 2px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 360px) {
    .bottom-footer p { font-size: 12px; }
}

